@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
.container {
  font-family: "Inconsolata", monospace;
  display: grid;
  grid-template-columns: 1fr 275px 552px 255px;
  height: 100vh;
  background: chocolate;
}
.container nav {
  background: #44475a;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container nav ul li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 18px 0;
}
.container nav ul li:first-child {
  color: #8BE9FD;
}
.container nav ul li:nth-child(2) {
  color: #50FA7B;
}
.container nav ul li:nth-child(3) {
  color: #FFB86C;
}
.container nav ul li:nth-child(4) {
  color: #FF79C6;
}
.container nav ul li:nth-child(5) {
  color: #BD93F9;
}
.container nav ul li:nth-child(6) {
  color: #F8F8F2;
}
.container nav ul li:nth-child(7) {
  color: #E5DB74;
}
.container nav ul li img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.container nav .logo-socials {
  margin-bottom: 18px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container nav .logo-socials .initab-logo {
  width: 100px;
  height: auto;
  cursor: pointer;
}
.container nav .logo-socials .initab-logo:hover #Group-5 {
  fill: #e5da7b;
  transition: 0.4s;
}
.container nav .logo-socials .socials img {
  width: 24px;
  height: 24px;
}
.container section, .container aside {
  background: #282a35;
}
.container section h1, .container aside h1 {
  text-transform: uppercase;
  color: #8fe9fc;
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.container section h1 img, .container aside h1 img {
  width: 16px;
  margin-right: 5px;
}
.container section.redditFeed, .container aside.redditFeed {
  overflow-y: auto;
  padding: 0 20px;
}
.container section.redditFeed::-webkit-scrollbar, .container aside.redditFeed::-webkit-scrollbar {
  width: 0 !important;
}
.container section.redditFeed #redditNewsItems .news-item-block, .container aside.redditFeed #redditNewsItems .news-item-block {
  margin-bottom: 40px;
  color: #fff;
  border-left: 3px solid #44475a;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
}
.container section.redditFeed #redditNewsItems .news-item-block:hover, .container aside.redditFeed #redditNewsItems .news-item-block:hover {
  border-left: 3px solid #50FA7B;
  transition: 0.4s;
}
.container section.redditFeed #redditNewsItems .news-item-block .posted-by, .container aside.redditFeed #redditNewsItems .news-item-block .posted-by {
  color: #8fe9fc;
  margin-top: 5px;
}
.container section.redditFeed #redditNewsItems .news-item-block .author, .container aside.redditFeed #redditNewsItems .news-item-block .author {
  color: #E5DB74;
}
.container section.redditFeed #redditNewsItems .news-item-block .score, .container aside.redditFeed #redditNewsItems .news-item-block .score {
  color: #6373a2;
  margin-top: 5px;
}
.container section.redditFeed #redditNewsItems .news-item-block .link, .container aside.redditFeed #redditNewsItems .news-item-block .link {
  color: #FF79C6;
  margin-top: 5px;
}
.container section.jsHistory, .container aside.jsHistory {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  font-size: 14px;
  line-height: 18px;
}
.container section.jsHistory .js-history, .container aside.jsHistory .js-history {
  overflow-y: auto;
  padding: 0 20px;
  border-bottom: 1px solid #444759;
}
.container section.jsHistory .js-history::-webkit-scrollbar, .container aside.jsHistory .js-history::-webkit-scrollbar {
  width: 0 !important;
}
.container section.jsHistory .js-history #jsHistoryItems, .container aside.jsHistory .js-history #jsHistoryItems {
  display: grid;
  grid-template-columns: 80% 20%;
}
.container section.jsHistory .js-history #jsHistoryItems div, .container aside.jsHistory .js-history #jsHistoryItems div {
  margin: 10px 0;
}
.container section.jsHistory .js-history #jsHistoryItems .history-text, .container aside.jsHistory .js-history #jsHistoryItems .history-text {
  color: #6373a2;
}
.container section.jsHistory .js-history #jsHistoryItems .history-time, .container aside.jsHistory .js-history #jsHistoryItems .history-time {
  color: #999;
  text-align: right;
}

/*# sourceMappingURL=index.css.map */
